openapi: 3.0.1
info:
  title: QuestBook Biconomy server
  version: 0.1.0
  description: Checks if we should subsidize gas for users
servers:
  - url: https://api-biconomy.questbook.app
    description: Production server
  - url: http://localhost:3001
    description: Local server
paths:
  /check:
    post:
      operationId: check
      summary: check if to subsidize gas or not
      tags:
        - Subsidize
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionRequest'
      responses:
        '200':
          $ref: '#/components/responses/TransactionResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
  /get_nonce:
    post:
      operationId: get_nonce
      summary: get nonce of the user to sign
      tags:
        - getNonce
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetNonceRequest'
      responses:
        '200':
          $ref: '#/components/responses/GetNonceResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
          
  /add_user:
    post:
      operationId: add_user
      summary: Retrieve the oauth token and add the user to the database
      tags:
        - addUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUserRequest'
      responses:
        '200':
          $ref: '#/components/responses/AddUserResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '500':
          $ref: '#/components/responses/ErrorResponse'
components:
  schemas:
    Error:
      type: object
      required:
        - statusCode
        - error
        - message
      properties:
        statusCode:
          type: integer
          minLength: 200
          maximum: 505
        error:
          type: string
          description: Specific description of the error
        message:
          type: string
          description: What the error was
        data:
          type: object
          description: Some extra information about the error
    Transaction:
      type: object
      additionalProperties: false
      required:
        - v
        - r
        - s
        - transactionHash
      properties:
        v:
          type: number
        r:
          type: string
          minLength: 1
          maxLength: 70
        s:
          type: string
          minLength: 1
          maxLength: 70
        transactionHash:
          type: string
          minLength: 1
          maxLength: 256
    TransactionRequest:
      type: object
      additionalProperties: false
      required:
        - data
      properties:
        data:
          type: object
          additionalProperties: false
          required:
            - signedNonce
            - nonce
            - webwallet_address
          properties:
            signedNonce:
              $ref: '#/components/schemas/Transaction'
            nonce:
              type: string
              minLength: 1
              maxLength: 256
            webwallet_address: 
              type: string
              minLength: 1
              maxLength: 256
        webwallet_address:
          type: string
          minLength: 1
          maxLength: 60
    AddUserRequest:
      type: object
      additionalProperties: false
      required:
        - code
        - webwallet_address
      properties: 
        code:
          type: string
          minLength: 1
          maxLength: 100
        webwallet_address:
          type: string
          minLength: 1
          maxLength: 50
    GetNonceRequest:
      type: object
      additionalProperties: false
      required:
        - webwallet_address
      properties: 
        webwallet_address:
          type: string
          minLength: 1
          maxLength: 50
        
  responses:
    AddUserResponse:
      description: Add user to database
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            required:
              - authorize
            properties: 
              authorize:
                type: boolean
    
    GetNonceResponse:
      description: Get nonce for the user to sign
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            required:
              - nonce
            properties: 
              nonce:
                type: string

    TransactionResponse:
      description: Subsidize gas for user
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            required:
              - isConditionPassed
            properties:
              isConditionPassed:
                type: boolean
                description: Whether to subsidize the gas for the user or not (true, false)
                example: true
    ErrorResponse:
      description: Generic error response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
